* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.frm {
    width: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 dimgray;
    padding: 20px;

}

label {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.frm-control {
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    float: left;
    border: 1px solid deepskyblue;
    outline: none;
    margin-top: 10px;

}

.btnSave {
    float: right;
    padding: 10px 15px;
    cursor: pointer;
    background-color: pink;
    margin-top: 4px;
    border-radius: 4px;
}

.img-box {
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid rgb(241, 232, 232);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("photo.png");
    position: relative;
}

.img-box input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.img-loading {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url('gift.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    /* border-radius: 50%; */
}

table tr td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.btnEdit {
    cursor: pointer;
    opacity: 0.7s;
}